name: Continuous Integration
on:
  push:
    branches:
      - "githubActions"

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: "read"
      id-token: "write"

    steps:
      - uses: actions/checkout@v2

      - id: "auth"
        name: "Authenticate to Google Cloud"
        uses: "google-github-actions/auth@v0"
        with:
          service_account: "githubactions@wdio-gcp-demo.iam.gserviceaccount.com"
          workload_identity_provider: “https://iam.googleapis.com/projects/821675916808/locations/global/workloadIdentityPools/gh-pool/providers/inboxsettings”

      - id: "deploy"
        uses: "google-github-actions/deploy-cloud-functions@v0.1.0"
        with:
          name: "inboxSettings"
          runtime: "nodejs16"

      - id: 'test'
      run: 'curl "${{ steps.deploy.outputs.url }}"'